/* reset page to 0 margins  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Using a background image instead of color. In order to make
  it mobile responsive I selected no repeat and to contain to content*/
  body {
    color: rgb(190, 22, 50);
    background-image: url(../Image/smb.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
  }
  
  h1 {
    font-size: 60px;
    margin-bottom: 0;
   
  }
  
  .main-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /*Setting the board up to display only three boxes in the row*/
  #gameboard {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    font-size: 80px;
    margin-top: 40px;
  }
  /* The squares inside the game board*/
  .square {
    height: 20vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
  }
  /* restart button */
  #restart {
    padding: 10px 20px;
    background-color: black;
    border: none;
    border-radius: 20px;
    color: red;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

